<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367602204610-7lda8kmc2fk0l8pqaibs8au8uic00kbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367602204610-7lda8kmc2fk0l8pqaibs8au8uic00kbn</string>
	<key>API_KEY</key>
	<string>AIzaSyBdqPWOjl_tKTpqJApiBdZ0MDtI6tBkMn0</string>
	<key>GCM_SENDER_ID</key>
	<string>367602204610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.moneyminds</string>
	<key>PROJECT_ID</key>
	<string>moneyminds-8af07</string>
	<key>STORAGE_BUCKET</key>
	<string>moneyminds-8af07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367602204610:ios:a2646ae0d6e18d2ac4605b</string>
	<key>DATABASE_URL</key>
	<string>https://moneyminds-8af07.firebaseio.com</string>
</dict>
</plist>